.invalid {
	border-color: #dc3545;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url(../public/invalid.svg);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.valid {
	border-color: #198754;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url(../public/valid.svg);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.top-banner{
	background-image: url(../public//vme3.png);
	height: 180px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.navbar-logo{
	width: 30px;
	margin-right: 10px;
}

@include media-breakpoint-between(xs, sm) {
	.top-banner{
		height: 300px;
	}
}

@include media-breakpoint-between(sm, md) {
	.top-banner{
		height: 300px;
	}
}

@include media-breakpoint-between(md, lg) {
	.top-banner{
		height: 300px;
	}
}

@include media-breakpoint-between(lg, xl) {
	.top-banner{
		height: 350px;
	}
}

@include media-breakpoint-between(xl, xxl) {
	.top-banner{
		height: 400px;
	}
}

@include media-breakpoint-up(xxl) {
	.top-banner{
		height: 500px;
		background-position: center 45%;
	}
}

